.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.user-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90vh;
  height: 90vh;
  background-color: #f9f9f9;
  overflow: hidden;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  align-self: flex-start;
  /* margin: 10px; */
}
.user-wrapper h1 {
  padding: 10px 0 10px 0;
}

/* .user-table {
  width: 600px;
  overflow-x: auto;
} */
/* .table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90vh;
  height: 90vh;
  background-color: #f9f9f9;
  overflow: auto;
} */

.table-wrapper {
  overflow: auto;
  max-height: 65vh;
  max-width: -webkit-fill-available;
}
.table-wrapper table {
  min-width: 600px;
}
